<div ng-if="!details">
  <div class="ui active dimmer">
    <div class="ui text loader"></div>
  </div>
</div>

<div ng-if="details.Response==='True'">

  <p class="row right"></p>

  <div class="cont-body centered">
    <div class="row">
      <div class="two col shadow">
        <img alt="Poster" class="img-poster" ng-src="{{ details.Poster=='N/A' ? 'http://placehold.it/150x220&text=N/A' : details.Poster }}" />
      </div>

      <div class="six col accent-color shadow full-width">
        <div class="padded">
          <h2 class="">{{details.Title | uppercase}}</h2>
          <i class="">({{details.Year}})</i>
          <hr/>
          <div class="">{{details.Plot}}</div>
          <div>
            <br/>
            <b>Genre:</b> {{details.Genre}} <br/>
            <b>Runtime:</b> {{details.Runtime}}
          </div>
          <hr/>
          <div class="row">
            <div class="col three"><b>IMDb: </b>{{details.imdbRating}}</div>
            <div class=""><b>Metascore: </b>{{details.Metascore}}</div>
          </div>
          <hr/>
          <div>
            <b>Actors:</b> {{details.Actors}} <br/>
            <b>Director:</b> {{details.Director}} <br/>
            <b>Writers:</b> {{details.Writer}} <br/>
            <b>Awards:</b> {{details.Awards}}
          </div>
          <hr/>
          <div class="inline">
            <div>
              <i class="fa fa-shopping-cart"></i>
              Buy Now
            </div>
            <div>
              <i class="fa fa-youtube-play"></i>
              Trailers
            </div>
            <div>
              <i class="fa fa-commenting"></i>
              Subtitles
            </div>
            <div>
              <i class="fa fa-music"></i>
              Soundtracks
            </div>
          </div>
        </div>
      </div>

      <div class="two col">
        <div class="" ng-include="'rel-results.html'"></div>
      </div>
    </div>
  </div>




    <div ng-if="details.Response==='False'">
      <div class="page-dimmed">
        <div class="ui inverted active indeterminate loader"></div>
      </div>
      <div class="fixed-pos-center">
        <h2>No Results Found.</h2>
      </div>
    </div>
